<div class="main-container">
  <div class="date">{{ date | date }}</div>
  <div class="container">
    <h1>Complete Angular Tutorial?</h1>
    <p>
      Welcome to the Angular Tutorial. This tutorial covers all versions of
      Angular starting from Angular 2 to the latest editions of i.e. Angular 8,
      Angular 9 & Angular 10. We have created a simple and step-by-step tutorial
      for beginners to learn all the features of Angular.
    </p>

    <div class="signup-form">
      <h2>SignUp for free content</h2>
      <div class="name-fields">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
      </div>
      <input type="email" placeholder="Email Address" />
      <input type="password" placeholder="Create Password" />
      <button class="blue-button">Register</button>
    </div>
  </div>

  <div class="info-section">
    <div class="description">
      The Angular is a development platform for building a Single Page
      Application for mobile and desktop. It uses Typescript & HTML to build
      Apps. The Angular itself is written using the Typescript.
    </div>
    <div class="button-div">
      <button class="blue-button">Join Today</button>
    </div>
  </div>

  <div class="info-section">
    <div class="description">
      The Angular is a development platform for building a Single Page
      Application for mobile and desktop. It uses Typescript & HTML to build
      Apps. The Angular itself is written using the Typescript.
    </div>
    <div class="button-div">
      <button class="blue-button">Join Today</button>
      <button class="white-button">Connect us</button>
    </div>
  </div>
</div>
