.main-container {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0px;
}

.date {
  text-align: end;
}

.container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

.signup-form h2 {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.name-fields {
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
}

.blue-button {
  background-color: #18a0fb;
  color: white;
}

.white-button {
  background-color: white;
  color: #18a0fb;
  border: 1px solid #18a0fb;
}

.info-section {
  background-color: white;
  margin: 20px 0px 0px;
  display: flex;
  padding: 3rem;
  border-radius: 5px;
}

.description {
  text-align: left;
  margin: 0px;
  width: 70%;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 20px;
}
